.veiw-memes__table-line_red-line {
    background-color: red;
}

.veiw-memes__table-line_blue-line {
    background-color: blue;
}

.veiw-memes__list-mem_red {
    background-color: red;
}

.veiw-memes__list-mem_blue {
    background-color: blue;
}

.veiw-memes__list-mem_yellow {
    background-color: yellow;
}

.veiw-memes__list-mem_green {
    background-color: green;
}

.veiw-memes__list-mem_violet {
    background-color: violet;
}

.veiw-memes__list-mem_black {
    background-color: black;
}

.veiw-memes__list-mem_white {
    background-color: white;
}

.veiw-memes__list-mem_orange {
    background-color: orange;
}

