.data-set {
  width: 100%;
}

.data-set table {
  width: 100%;
  border-collapse: collapse;
}

.data-set th,
.data-set td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.data-set th {
  background-color: #f2f2f2;
}

.data-set tr.selected {
  border-width: 2px;
  border-style: solid;
  border-color: #8ddbff;
  background-color: #bceaff;
}

.data-set .selector-column {
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.Button {
  background-color: #618afb;
  margin: 10px 20px 10px 20px;
  width: 150px;
  height: 50px;
  color: white;
  font-size: 20px;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;
}
