### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#файлы сборки
.ninja_*
CMakeFiles/*
Testing/*
.cmake/*
CMakeCache.txt
build_ninja
cmake_install.cmake
cmake-*
build/
out/
vcpkg_installed/
CPTCMakeBuild

.vscode
.vs